#container{
    -fx-background-color:#160e27;
}
#footer{
    -fx-background-image:url('/views/images/signup_bg.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
ComboBox, TextField, PasswordField{
    -fx-background-color:#1B173D;
    -fx-text-inner-color:#FFFFFF;
    -fx-prompt-text-fill: #abad9d;
    -fx-pref-width:500;
    -fx-border-color: grey;
    -fx-border-width: 1;
}

ComboBox.item{
    -fx-prompt-text-fill: #abad9d;
    -fx-background-color:#1B173D;
    -fx-text-inner-color:#FFFFFF;
}

.combo-box .cell{
    -fx-text-fill: #FFFFFF;
    -fx-font: 16px "Arial";
    -fx-background-color:#1B173D;
    -fx-pref-width:200;
}