#container{
    -fx-background-color:#221e3e;
}
ScrollPane{
    -fx-background:#221936;
}
TextField, PasswordField, RadioButton, CheckBox, NumberField, .date-picker .text-field, .context-menu{
    -fx-font: 16px "Arial";
    -fx-background-color:#1B173D;
    -fx-text-fill:#ffffff;
    -fx-prompt-text-fill: #abad9d;
    -fx-border-color: grey;
    -fx-border-width: 1;
}

RadioButton{
    -fx-border-width: 0;
    -fx-background-color:transparent;
}
CheckBox{
    -fx-border-width: 0;
    -fx-background-color:transparent;
}

.date-picker .text-field{
    -fx-font: 16px "Arial" !important;
    -fx-background-color:#1B173D !important;
    -fx-text-fill:#ffffff !important;
    -fx-prompt-text-fill: #abad9d !important;
    -fx-border-color: grey !important;
    -fx-border-width: 1 !important;
}


.text-area {
    -fx-control-inner-background: #1B173D;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #abad9d;
}

.label{
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-background-color:#160e27;
    -fx-border-radius: 20;
    -fx-background-radius:20;
    -fx-text-fill:#ffffff;
    -fx-font-weight: bold;

    -fx-background-size: 13px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15px;
    -fx-padding:5px 15px 5px 33px;
}

#generate{
    -fx-background-color:#e33068;
    -fx-background-image: url('/views/images/generate_icon.png');
}

.add-button{
    -fx-background-image: url('/views/images/add_icon.png');
}
.edit-button{
    -fx-background-image: url('/views/images/edit_icon.png');
}
.delete-button{
    -fx-background-image: url('/views/images/delete_icon.png');
}

.main-button{
    -fx-background-color:#e33068;
}

.combo-box .cell{
    -fx-text-fill: #FFFFFF;
    -fx-font: 16px "Arial";
    -fx-background-color:#1B173D;
    -fx-pref-width:200;
}
